<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- データベースの接続情報 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/sample"/>
                <property name="db" value="muscleApplication_db"/>
                <property name="username" value="user"/>
                <property name="password" value="password"/>
            </dataSource>
        </environment>
    </environments>

    <!-- XML Mapper の読み込み -->
    <mappers>
        <mapper resource="com/example/infrastructure/mapper/MybatisXmlTrainingRecordMapper.xml"/>
        <!-- 他のマッパーもここに追加 -->
    </mappers>
</configuration>
